body {
    margin: 0;
    font-family: sans-serif;
    
  }
  
  header {
    background-color: #fcd276;
    display: flex;
    align-items: center;
    padding: 40px;
  }
  
  .logo {
    width: 120px;
    height: 120px;
    background-color: #ffbe3d;
    margin-right: 20px;
  }
  
  .linea {
    width: 400px;
    height: 10px;
    background-color: white;
    margin: 10px 0;
  }
  
  .barra {
    width: 400px;
    height: 15px;
    background-color: #f6b556;
  }
  
  .linea.corta {
    width: 80px;
    background-color: white;
  }
  
  .cuadrados {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    gap: 130px;
    justify-content: center;
    padding: 40px;
  }
  
  .cuadrado {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mini-celeste,
  .mini-naranja,
  .mini-amarillo {
    width: 80px;
    height: 80px;
  }
 
  .cuadrado.celeste{
    background-color: #b6edf6;
    border-top: 10px solid #2597a8; 
  }

  .mini-celeste{
    background-color: #2597a8;
  }

  .cuadrado.naranja {
    background-color: #f7a585;
    border-top: 10px solid #e08060;
  }
  .mini-naranja {
    background-color: #e08060;
  }
  
  .cuadrado.amarillo {
    background-color: #fcdc88;
    border-top: 10px solid #f6c266;
  }
  .mini-amarillo {
    background-color: #f6c266;
  }
  