body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #fdd47c;
    display: flex;
    align-items: center;
    padding: 20px
}

.logo {
    background-color: #FFC04D;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.barra {
    background-color: #FFB347;
    width: 100px;
    height: 8px;
}

.linea {
    width: 300px;
    height: 8px;
    background-color: white;
    margin: 10px 0;
}

.linea corta{
    width: 150px;
    height: 6px;
    background-color: white;
}

.cuadrado{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
    justify-items: center;
}

.cuadrados {
 width: 100px;
 height: 100px;
 display: flex ;
 justify-content: center;
 align-items: center;
}

.cuadrado.celeste{
    background-color: #b2ebf2;
}

.cuadrado.naranja{
    background-color: #FFAB91;
}

.cuadrado.amarillo{
    background-color: #FFE082;
}

.mini{
    width: 40px;
    height: 40px;
    margin: 30px;
    display: inline-block;
}

.mini.celeste{
    background-color: #4DD0E1;
}

.mini.naranja{
    background-color: #FF7043;
}

.mini.amarillo{
    background-color: #FFCA28;
}